In [1]:
pip install https://github.com/pdftables/python-pdftables-api/archive/master.tar.gz

Collecting https://github.com/pdftables/python-pdftables-api/archive/master.tar.gz
  Using cached https://github.com/pdftables/python-pdftables-api/archive/master.tar.gz
Requirement already satisfied (use --upgrade to upgrade): pdftables-api==1.1.0 from https://github.com/pdftables/python-pdftables-api/archive/master.tar.gz in c:\users\zachb\anaconda3\lib\site-packages
Requirement already satisfied: requests in c:\users\zachb\anaconda3\lib\site-packages (from pdftables-api==1.1.0) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\zachb\anaconda3\lib\site-packages (from requests->pdftables-api==1.1.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\zachb\anaconda3\lib\site-packages (from requests->pdftables-api==1.1.0) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\zachb\anaconda3\lib\site-packages (from requests->pdftables-api==1.1.0) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\zachb\anaconda3\lib\site-packages (from requests->pdftables-api==1.1.0) (1.24.2)
Building wheels for collected packages: pdftables-api
  Building wheel for pdftables-api (setup.py): started
  Building wheel for pdftables-api (setup.py): finished with status 'done'
  Created wheel for pdftables-api: filename=pdftables_api-1.1.0-cp37-none-any.whl size=5891 sha256=63a881c94b1c09442aebc4e8477e18939b6b36d45f40a490b08b659ef1cf552e
  Stored in directory: C:\Users\zachb\AppData\Local\Temp\pip-ephem-wheel-cache-9dloiur0\wheels\30\c9\11\f8f1015a0cdc2f54dcd3ea475c014b7333ec7699b9cfec7873
Successfully built pdftables-api
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pdftables_api

c = pdftables_api.Client('kxe6xky5xoev')
c.csv('monthlyannualtemp.pdf', 'monthlyannualtemp.csv')

In [4]:
import pandas as pd

In [15]:
df =pd.read_csv('monthlyannualtemp.csv')
df.head()
df.dropna()
headers = df.iloc[1]
new_df  = pd.DataFrame(df.values[2:], columns=headers)
new_df

1,1870.0,37.5,31.3,34.1,50.7,60.9,72.9,76.6,75.3,67.6,56.7,45.5,34.1,53.6
0,1871.0,28.3,30.2,44.2,52.0,60.4,68.2,72.3,73.6,60.8,55.6,38.8,29.2,51.1
1,1872.0,28.8,29.9,30.5,49.4,61.5,71.2,77.5,75.6,66.4,53.2,41.0,26.7,51.0
2,1873.0,28.6,29.5,35.7,46.7,58.8,70.3,75.4,72.0,65.4,55.8,37.0,36.5,51.0
3,1874.0,34.2,31.3,37.1,41.1,58.8,70.1,73.9,70.3,67.0,55.1,43.4,33.8,51.3
4,1875.0,23.8,25.2,34.1,43.1,60.1,69.2,74.0,72.9,64.0,53.6,39.3,33.9,49.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2015.0,29.9,23.9,38.1,54.3,68.5,71.2,78.8,79.0,74.5,58.0,52.8,50.8,56.7
145,2016.0,34.5,37.7,48.9,53.3,62.8,72.3,78.7,79.2,71.8,58.8,49.8,38.3,57.2
146,2017.0,38.0,41.6,39.2,57.2,61.1,72.0,76.8,74.0,70.5,64.1,46.6,33.4,56.3
147,2018.0,31.7,42.0,40.1,49.5,66.9,71.7,77.6,78.1,70.7,57.7,44.4,40.1,55.9
148,2019.0,32.5,36.2,41.7,55.5,62.2,71.7,79.6,75.5,70.4,59.9,43.9,38.3,55.6

In [16]:
from sqlalchemy import create_engine 
new_df.to_csv('monthlyannualtemp.csv', index = False)

In [17]:
engine = create_engine('mysql+mysqldb://admin:sql_2020@lmu-sql.cooejkcwn3hp.us-east-2.rds.amazonaws.com/sql_project')

In [18]:
new_df.to_sql('weather_in_central_park', engine, if_exists='replace')