In [1]:
# Import library to make HTTP requests, i.e fetch URL similar to a browser request
import requests
# Import json library to decode and encode JSON
import json

import pandas as pd 
from sqlalchemy import create_engine

In [3]:
pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/c2/31/8b374a12b90def92a4e27d0fc595fc43635f395984e36a075244d98bd265/yfinance-0.1.54.tar.gz
Requirement already satisfied: pandas>=0.24 in c:\users\zachb\anaconda3\lib\site-packages (from yfinance) (0.25.1)
Requirement already satisfied: numpy>=1.15 in c:\users\zachb\anaconda3\lib\site-packages (from yfinance) (1.16.5)
Requirement already satisfied: requests>=2.20 in c:\users\zachb\anaconda3\lib\site-packages (from yfinance) (2.22.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading https://files.pythonhosted.org/packages/69/e7/e9f1661c28f7b87abfa08cb0e8f51dad2240a9f4f741f02ea839835e6d18/multitasking-0.0.9.tar.gz
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\zachb\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\zachb\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\zachb\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\zachb\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\zachb\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\zachb\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: six>=1.5 in c:\users\zachb\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.12.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22414 sha256=a79c2443bdeb1eba8fbb62bf3eb11437ef6d40c8e524b5a891002dc87ef0a672
  Stored in directory: C:\Users\zachb\AppData\Local\pip\Cache\wheels\f9\e3\5b\ec24dd2984b12d61e0abf26289746c2436a0e7844f26f2515c
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-cp37-none-any.whl size=8373 sha256=a14e22a5db16e36e276c0090193a2434bfe358a538305cbb2abd75c6d6c13f67
  Stored in directory: C:\Users\zachb\AppData\Local\pip\Cache\wheels\37\fa\73\d492849e319038eb4d986f5152e4b19ffb1bc0639da84d2677
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.54
Note: you may need to restart the kernel to use updated packages.

In [72]:
import yfinance as yf

spy = yf.Ticker("SPY")

spy.info

hist = spy.history(period="max")

spy.actions

spy.dividends

spy.splits

spy.financials
spy.quarterly_financials



data = yf.download(  
        tickers = "SPY",

        period = "max",
       
        interval = "1mo",

        group_by = 'ticker',
     
        auto_adjust = True,

        prepost = True,

        threads = True,
       
        proxy = None
    )

[*********************100%***********************]  1 of 1 completed

In [21]:
print(data)

                  Open        High         Low       Close        Volume
Date
1993-01-01   26.317993   26.317993   26.187058   26.299288  1.003200e+06
1993-02-01   26.317994   27.010080   25.625907   26.579865  5.417600e+06
1993-03-01   26.673368   27.440274   26.467612   27.047468  3.019200e+06
1993-03-19         NaN         NaN         NaN         NaN           NaN
1993-04-01   27.212800   27.212800   26.028818   26.479858  2.697200e+06
...                ...         ...         ...         ...           ...
2020-02-01  321.459738  337.097763  283.870773  294.528107  2.111162e+09
2020-03-01  296.466692  312.005326  216.984073  256.243225  5.926018e+09
2020-03-20         NaN         NaN         NaN         NaN           NaN
2020-04-01  247.979996  287.299988  243.899994  273.040009  2.111628e+09
2020-04-22  278.350006  281.000000  276.910004  279.100006  8.810072e+07

[442 rows x 5 columns]

In [24]:
import pandas as pd
df = pd.DataFrame(data)

In [25]:
df.head()

                 Open       High        Low      Close     Volume
Date
1993-01-01  26.317993  26.317993  26.187058  26.299288  1003200.0
1993-02-01  26.317994  27.010080  25.625907  26.579865  5417600.0
1993-03-01  26.673368  27.440274  26.467612  27.047468  3019200.0
1993-03-19        NaN        NaN        NaN        NaN        NaN
1993-04-01  27.212800  27.212800  26.028818  26.479858  2697200.0

In [62]:
df = df.dropna()

In [71]:
df

                  Open        High         Low       Close        Volume
Date
1993-01-01   26.317993   26.317993   26.187058   26.299288  1.003200e+06
1993-02-01   26.317994   27.010080   25.625907   26.579865  5.417600e+06
1993-03-01   26.673368   27.440274   26.467612   27.047468  3.019200e+06
1993-04-01   27.212800   27.212800   26.028818   26.479858  2.697200e+06
1993-05-01   26.517452   27.457121   26.367105   27.194014  1.808000e+06
...                ...         ...         ...         ...           ...
2020-01-01  321.648629  331.003623  318.487196  319.849213  1.392004e+09
2020-02-01  321.459738  337.097763  283.870773  294.528107  2.111162e+09
2020-03-01  296.466692  312.005326  216.984073  256.243225  5.926018e+09
2020-04-01  247.979996  287.299988  243.899994  273.040009  2.111628e+09
2020-04-22  278.350006  281.000000  276.910004  279.100006  8.810072e+07

[329 rows x 5 columns]

In [68]:
df.to_csv('SPY.csv', index = False)

In [69]:
engine = create_engine('mysql+mysqldb://admin:sql_2020@lmu-sql.cooejkcwn3hp.us-east-2.rds.amazonaws.com/sql_project')

In [70]:
df.to_sql('business', engine, if_exists='replace')