In [1]:
import pandas as pd

In [2]:
df =pd.read_csv('yearlywheat.csv')
df

     Year         Bushels
0    2013  13,925,147,000
1    2012  10,780,296,000
2    2011  12,359,612,000
3    2010  12,446,865,000
4    2009  13,091,862,000
..    ...             ...
143  1870   1,124,775,000
144  1869     782,084,000
145  1868     919,590,000
146  1867     793,905,000
147  1866     730,814,000

[148 rows x 2 columns]

In [5]:
from sqlalchemy import create_engine 
df.to_csv('yearlywheat.csv', index = False)

In [6]:
engine = create_engine('mysql+mysqldb://admin:sql_2020@lmu-sql.cooejkcwn3hp.us-east-2.rds.amazonaws.com/sql_project')

In [7]:
df.to_sql('yearly_wheat', engine, if_exists='replace')